.etcm-settings__header {
    font-family: Helvetica Neue,helvetica,arial,verdana,sans-serif;

    position: relative;

    padding: 70px;

    border-radius: 5px;
    background-color: #e9ecef;
}

.etcm-settings__header h1 {
    font-size: 50px;
    font-weight: 400;

    margin-top: 0;
    margin-bottom: 0;

    text-align: center;

    color: #4b4b4b;
    text-shadow: rgba(0, 0, 0, .5) 1px 1px 2px;
}

.etcm-settings__header__line {
    box-sizing: border-box;
    margin-bottom: 20px;

    border-style: solid;
    border-image: linear-gradient(to left, var(--etcm-blue) 10%, var(--etcm-yellow) 50%, var(--etcm-red) 90%);
    border-image-slice: 1;
}
.etcm-settings__header p {
    text-align: center;
}

.etcm-settings__header__save {
    font-size: 25px;

    padding: 15px 30px;

    cursor: pointer;

    color: white;
    border: 0;
    border-radius: 5px;
    background: #f0ad4e;
}
.etcm-settings__header__save:hover {
    background: #bd8029;
}

.etcm-settings__header__version {
    font-style: italic;

    position: absolute;
    top: 50%;
    right: 20%;
}



.etcm-settings__body {
    display: flex;

    flex-wrap: wrap;
}

.etcm-settings__body h3 {
    font-size: 17px;

    color: #4b4b4b;
}
.etcm-settings__body h4 {
    font-size: 13px;

    color: #4b4b4b;
}
.etcm-settings-space--half {
    max-width: 50%;
    padding: 0;

    flex: 0 0 50%;
}
.etcm-settings-space--half li {
    display: flex;

    height: 50px;
    margin: 0 50px;

    align-items: center;
    justify-content: space-between;
}

.etcm-settings__operations {
    display: flex;

    width: 100%;
}
.etcm-settings__operations .toggleSwitch {
    width: 70px;
    margin: 0 10px;
}

.etcm-settings__showcase {
    display: flex;
    flex-direction: column;

    width: 100%;
}
.etcm-settings__showcase ul {
    padding: 0;

    list-style: none;

    text-align: center;
}
.etcm-settings__showcase li {
    display: inline-block;

    width: 100px;
    height: 100px;
    margin: 10px;

    cursor: pointer;

    opacity: .7;
    background-size: contain;
}
.etcm-settings__showcase--selected {
    opacity: 1 !important;
    border: 2px solid forestgreen;
}
