.etcm-settings__header {
    font-family: Helvetica Neue,helvetica,arial,verdana,sans-serif;

    position: relative;

    display: flex;
    flex-direction: column;

    padding: 70px;

    border-radius: 5px;
    background-color: #e9ecef;

    align-items: center;
}

.etcm-settings__header__line {
    box-sizing: border-box;
    width:         fill-available;
    width:         -moz-available;
    width: -webkit-fill-available;
    margin-bottom: 20px;

    border-style: solid;
    border-image: linear-gradient(to left, var(--etcm-blue) 10%, var(--etcm-yellow) 50%, var(--etcm-red) 90%);
    border-image-slice: 1;
}
.etcm-settings__header h1 {
    font-size: 50px;
    font-weight: 400;

    width: fit-content;
    margin-top: 0;
    margin-bottom: 0;

    text-align: center;

    color: #4b4b4b;
    text-shadow: rgba(0, 0, 0, .5) 1px 1px 2px;
}
.etcm-settings__header__save {
    float: right;

    margin: 0 3px;

    cursor: pointer;

    color: white;
    border: 0;
    border-radius: 5px;
    background: #f0ad4e;
}
.etcm-settings__header__save:hover {
    background: #bd8029;
}
.etcm-settings__header__version {
    font-style: italic;
    font-size: x-small;

    position: absolute;
    right: 25%;
}
.etcm-settings__header__imex {
    font-style: italic;

    position: absolute;
    right: 30px;
    bottom: 50px;

    cursor: pointer;
}
.etcm-settings__header__imex:hover {
    font-weight: 700;

    text-decoration: underline;
}
.etcm-settings__header__reset {
    font-style: italic;

    position: absolute;
    right: 30px;
    bottom: 30px;

    cursor: pointer;
}
.etcm-settings__header__reset:hover {
    font-weight: 700;

    text-decoration: underline;
}


.etcm-settings__imex textarea {
    font-family: Arial, Helvetica, sans-serif;

    width: calc(100% - 10px);
    height: 500px;
    padding: 5px;
}
.etcm-settings__imex h3,
.etcm-settings__body h3 {
    font-size: 17px;

    width: 100%;

    color: #4b4b4b;
}


.etcm-settings__body {
    display: flex;

    flex-wrap: wrap;
}
.etcm-settings__body div {
    width: 100%;
}
.etcm-settings__body ul {
    display: flex;

    padding: 0;

    flex-wrap: wrap;
    justify-content: center;
}
.etcm-settings__body li {
    list-style: none;
}
.etcm-settings__body input {
    display: none;
}

.etcm-settings__operation li {
    position: relative;

    display: flex;
    flex-direction: row;

    align-items: center;
}
.etcm-settings__operation > li p {
    font-size: 13px;

    margin: 0 30px 0 0;

    color: #4b4b4b;
}
.etcm-settings__operation > li label {
    margin-left: auto;
}
.etcm-settings__operation > li select {
    position: absolute;
    bottom: -13px;
}

.etcm-settings__operation.normal > li {
    width: calc(50% - 60px);
    margin: 10px 30px;

    --tgs-width: 80px;
    --tgs-height: 36px;
    --tgs-color: indianred;
}
.etcm-settings__operation.ui > li {
    width: calc(33.333% - 60px);
    margin: 10px 30px;

    --tgs-width: 50px;
    --tgs-height: 20px;
    --tgs-color: cadetblue;
}


.etcm-settings__showcase > li label {
    display: block;

    width: 100px;
    height: 100px;
    margin: 10px;

    cursor: pointer;

    opacity: .7;
    background-size: contain;
}
.etcm-settings__showcase > li.on {
    opacity: 1 !important;
    border: 2px solid forestgreen;
}