.etcm-side__title {
    display: flex;
}
.etcm-side__title > div {
    font-size: 12px;

    margin-left: auto;
    margin-right: 10px;
}
.etcm-side__title > div input {
    display: none;
}
.etcm-side__title > div > label,
.etcm-side__title > div > i {
    margin-right: 10px;

    cursor: pointer;
}
.etcm-side__body .tab_top > ul {
    display: table;

    width: 100%;
}
.etcm-side__body .tab_top > ul > li {
    float: none;

    display: table-cell;

    cursor: pointer;
}
.etcm-side__book__list {
    overflow-y: auto;

    margin: 0;
    padding: 5px;

    list-style: none;
}
.etcm-side__book__list--compress {
    overflow-y: auto;

    max-height: 300px;
}
.etcm-side__book__list__article {
    padding: 5px;
}
.etcm-side__book__list__article:hover {
    text-decoration: underline;
}
.etcm-side__book__list__article a {
    display: block;
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
}
.etcm-side__book__list__article img {
    width: 14px;
    height: 14px;
    padding-right: 4px;
}


.menu_bookmark_remocon i {
    cursor: pointer;
}
.menu_bookmark_remocon a:hover {
    font-weight: bold;
}