<vue>
    <table id="etcm-article-board" class="bd_lst bd_tb_lst bd_tb">
        <caption class="blind">List of Articles</caption>
        <thead class="bg_f_f9">
            <tr>
                <th v-for="[category, fieldName] in fields" scope="col">
                    <a :href="'/'+mid+'?category='+category">{{ fieldName }}</a>
                </th>
            </tr>
        </thead>
        <tbody>
            <template v-for="article in articles" :key="article.id">
                <article-list v-bind="{...article, selectedTabs}"></article-list>
            </template>
        </tbody>
    </table>


    <template id="etcm-article-list">
        <tr v-show="isShow" :class="articleClasses">
            <td class="sect">
                <div v-if="store" class="store">
                    <img :title="store.name" :src="store.src">
                </div>
                <p class="cate">{{ cate.name }}</p>
            </td>

            <td class="post">
                <span class="time" :title="time.detail">{{ time.normal }}</span>
                <div class="title">
                    <a :href="title.href" class="hx">{{ title.name }}</a>
                    <label class="fa fa-eye-slash" title="on my blind list">
                        <input type="checkbox" :value="isBlindArticle" @change="toggle(blindArticles, id, 'blind')">
                    </label>
                </div>
                <a :href="title.href+reply.href" class="replyNum" title="댓글">{{ reply.num }}</a>
                <span class="m_no readed_count">{{ readed_count }}</span>
                <span class="m_no voted_count" @mouseover="isHoverVote = true" @mouseout="isHoverVote = false" @click="submitVote">
                    <i :class="{'fa fa-heart': isHoverVote }">{{ voted_count }}</i>
                </span>
            </td>
            
            <td v-if="type" class="type">
                <label class="fa fa-credit-card" title="구입 목록에 추가">
                    <input type="checkbox" value="p" v-model="checkedType">
                </label>
                <label class="fa fa-shopping-cart" title="찜 목록에 추가">
                    <input type="checkbox" value="w" v-model="checkedType">
                </label>
            </td>
            
            <td v-if="timer" class="timer">
                <span class="list_timer">{{ timer }}</span>
            </td>
            
            <td class="app_image">
                <a v-if="game.id" :href="'/game_news?app='+game.id" class="itcmGameUrl">
                    <img :src="game.src" :title="game.title" class="lazy header_image">
                </a>
            </td>

            <td class="author">
                <a href="#popup_menu_area" :class="'member_'+author.id" onclick="return false">
                    <img v-if="author.src" :src="author.src">
                    {{ author.name }}
                </a>
                <label class="fa fa-eye-slash" title="on my blind list">
                    <input type="checkbox" :value="isBlindMember" @change="toggle(blindMembers, author.id, 'blind')">
                </label>
            </td>
        </tr>
    </template>
</vue>