<vue>
    <div id="etcm-settings">
        <div class="etcm-settings__header">
            <div class="etcm-settings__header__line" />
            <h1>Enhanced ITCM 설정</h1>
            <button class="etcm-settings__header__save" @click="save">저장</button>
            <div class="etcm-settings__header__version">ver. {{ version }}</div>
            <i class="etcm-settings__header__imex fa fa-exchange" @click="imex = !imex"> 외부입력/출력</i>
            <i class="etcm-settings__header__reset fa fa-refresh" @click="reset"> 초기화</i>
        </div>
    
        <div v-if="imex" class="etcm-settings__imex">
            <h3>외부입력 / 출력</h3>
            <textarea v-model="text_area"></textarea>
        </div>
    
        <div v-else="imex" class="etcm-settings__body">
            <div>
                <h3>기능 모음</h3>
                <ul class="etcm-settings__operation normal">
                    <operation-item v-for="operation in normal_operations" v-bind="{...operation, command_plan}">
                        <select v-if="operation.command == 'addHumbleChoiceTimer'" class="option__show-period" v-model="timer_period">
                            <option value="1">24시간 전</option>
                            <option value="7">7일 전</option>
                            <option value="15">15일 전</option>
                            <option value="35">항상</option>
                        </select>
                    </operation-item>
                </ul>
            </div>
    
            <div>
                <h3>무한 스크롤 로딩바</h3>
                <ul class="etcm-settings__showcase">
                    <li v-for="item in loading_items" :class="{on: item == loading_selected}">
                        <label :title="item" :class="'etcm-loading--'+item">
                            <input type="radio" v-model="loading_selected" :value="item">
                        </label>
                    </li>
                </ul>
            </div>
    
            <div>
                <h3>UI 모음</h3>
                <ul class="etcm-settings__operation ui">
                    <operation-item v-for="operation in ui_operations" v-bind="{...operation, command_plan}" />
                </ul>
            </div>
        </div>
    </div>

    <template>
        <li class="toggleSwitch">
            <p :title="detail">{{ title }}</p>
            <slot></slot>
            <label class="toggleSwitch__label" :class="{on: checked}" data-on="on" data-off="off">
                <input type="checkbox" class="toggleSwitch__input" v-model="checked">
            </label>
        </li>
    </template>
</vue>