<vue>
    <ul id="etcm-cTab--store" class="etcm-cTab etcm-cTab--store">
        <tab-list v-for="{title, href, src} in tabs" v-bind="{title, selectedTabs }">
            <a :href="href">
                <img :src="src">
            </a>
        </tab-list>
    </ul>


    <ul id="etcm-cTab--cate" class="etcm-cTab etcm-cTab--cate cTab clear">
        <li :class="{shadow: !checkedAllTabs}">
            <a :href="'/' + mid">전체</a>
            <input type="checkbox" v-model="checkedAllTabs">
        </li>

        <tab-list v-for="{title, href, src} in tabs" v-bind="{title, selectedTabs }">
            <a :href="href">{{ title }}</a>
        </tab-list>

        <tab-exclusive-gboard v-if="mid == 'game_news'"></tab-exclusive-gboard>

        <tab-list v-bind="{title: 'eye', selectedTabs }">
            <a class="fa fa-eye-slash" title="See also blind list"/>
        </tab-list>
    </ul>


    <template id="etcm-tab-list">
        <li :title="title" :class="{shadow: !checked}">
            <slot></slot>
            <input type="checkbox" checked v-model="checked">
        </li>
    </template>


    <template id="etcm-tab-exclusive-gboard">
        <li :class="{shadow: !checkedExpired}">
            <a href="/game_news?_sort_index=timer_filter" style="color:#FF008B;">종료</a>
            <input type="checkbox" v-model="checkedExpired">
        </li>
        <li style="float:right;">
            <a href="/game_news?_sort_index=check_wlist">
                <i class="fa fa-heart" aria-hidden="true" style="font-size: 11px; color: #FF9C9C;" />
                찜 목록
            </a>
        </li>
        <li style="float:right;">
            <a href="/game_news?_sort_index=check_plist">
                구입 목록
            </a>
        </li>
    </template>
</vue>